<p id="notice"><%= notice %></p>

<p>
  <strong>Original url:</strong>
  <%= @url.original_url %>
</p>

<p>
  <strong>Shortened url:</strong>
  <%= @url.shortened_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @url.status %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
