.row
  .large-12.columns.panel.main_div
    %p#notice= notice
    %p.original
      Original url:
      #line= @url.original_url
    %p
      = form_tag("/redirect, method:get") do
        = label_tag(:q, "Shortened Url:")
        = text_field_tag(:q, "#{root_url}#{@url.shortened_extension}")
      = link_to 'Make Another URL', new_url_path
